/* styles go here */
label {
  display: block;
  margin-bottom: 10px;
}

.last {
  margin-bottom: 0;
}

fieldset {
  margin-bottom: 20px;
}

.form {
  margin: 10px 0;
}

.form_last {
  margin-bottom: 0;
}
